#main {
    article {
        @include text(16px, rgb(244, 245, 237), center);
        border-radius: 10px;
        padding-top: 50px;
        width: 35%;
        background-color: rgba(24, 24, 24, 0.514);
        backdrop-filter: blur(2px);
            a {    
                text-decoration: none;
                color: rgb(244, 245, 237);
                background-color: rgb(10, 10, 10);
                display: block;
                border-radius: 5px;
                margin: 30px auto;
            }
            a:hover{    
            transition-property: background-color;
            transition-duration: 0.5s;
            color: black;
            background-color: rgb(244, 245, 237);
            text-decoration: none;
            
        }
    }    

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("img/background1.webp");   
    background-size: cover;
    background-attachment: fixed;
}


.main__section__h1{   
    font-size: 50px;
}

.main__section__h2{
    font-size: 40px;
}

.button--bigsize {    
    font-size: 20px;   
    width: 50%;
    padding: 15px;
    border-width: 20px;
}


.button--smallsize {    
    font-size: 15px;   
    width: 30%;
    padding: 10px;
}
