.habilidades {
    margin: auto;
    margin-top: 50px;
    width: 50%;
}

.habilidades img {
    object-fit: scale-down;
    object-position: center;
    height: 50vh;
}

.rotar:hover {
    transform: rotate(20deg);
    transition: 1s;
}

.carousel-control-next-icon {
    background-image: url(img/arrow-right.png);
}

.carousel-control-prev-icon {
    background-image: url(img/arrow-left.png);
}