@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


@import "_header";
@import "_body";
@import "_main";
@import "_about";
@import "_skills";
@import "_portfolio";
@import "_contacto";
@import "_footer";

@import "_notfound";

@import "_media";