
.navbar-toggler{
    margin-left: 10px;
}
.bg-dark {
    background-color: rgb(10, 10, 10) !important;
}

#nav {
    margin: auto;
}

.nav-link {
    margin: 0 15px 0 15px;
    color: rgb(254, 255, 235) !important;
}

#navPadding {
    padding: 15px 0px 15px 0px;
}
