.not {
    section {
        margin: 10vh 15% 0px;
        padding: 5%;
        background-color: rgb(3, 2, 2);
        border-radius: 10px;
        height: 50vh;
        p{
            color: white;
        }
    }

    text-align: center;
    background: white;
    height: 80vh;
}