.habilidades {
    @extend .about;
    padding: 20px 0;
}

.habilidades img {
    object-fit: scale-down;
    object-position: center;
    height: 50vh;
}

.rotar:hover {
    img{
        transform: rotate(20deg);
        transition: 1s;
    }
}

.carousel-control-next-icon {
    background-image: none;
}

.carousel-control-prev-icon {
    background-image: none;
}

.carousel-control-next {
    width: 50%;
}

.carousel-control-prev {
    width: 50%;
}

.carousel {
    background-color: black;
}